<nav>
    <div id="alignDisplayMenu">
        <i class="fas fa-bars" id="displayMenu"></i>
        <i id="closeBouton" class="fas fa-times"></i>
    </div>
    <img id="logo" alt="" src="./assets/img/logobis.png">
        <ul>
            <li><a href="?page=index">Accueil</a></li>
            <li><a href="?page=informations">Informations</a></li>
            <li><a href="?page=events">Evenement</a></li>
            <li><a href="?page=contact">Contact / Signaler</a></li>
            <li> <?php ?> ><a href="?page=login">Connexion / inscription</a></li>
        </ul>
</nav>
<div id="navMobile">
    <div id="orderedNav">
        <a href="?page=index">Accueil</a>
        <a href="?page=article_list">Informations</a>
        <a href="?page=article_list">Evenement</a>
        <a href="?page=article_list">Contact / Signaler</a>
        <a href="?page=article_list">Connexion / inscription</a>
    </div>
</div>
